# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.city-stacker.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Florian\src\repos\city-stacker\.idea\.idea.city-stacker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
